.DS_Store
node_modules
/dist
msbt.zip
acnh-data-master-MSBT-JSON_merged.zip

# local env files
.env.local
.env.*.local

# Log files
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
