*, body {
  touch-action: manipulation;
}

body {
  overflow-x: hidden;
}

.tg {
  padding: 0.1rem 0.3rem;
  border-radius: 3px;
  line-height: 1.3;
}

.tg-gr {
  background-color: #b6ecd4;
}

.tg-bl {
  background-color: #a0cbff;
}

.small {
  font-size: 13px;
  color: #555;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.mb-6 {
  margin-bottom: 2rem;
}